<extend name="Common/common"/>
<block name="body">
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="layui-icon">&#xe606;</i> 萝卜网管理后台</div>
                    <div class="layui-card-body">
                        萝卜网管理后台
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>

    </script>
</block>