@charset "utf-8";

#bannerSlide { height:360px; position:relative;margin-top:1px; overflow: hidden; zoom: 1; z-index:0; min-width:1200px;    margin-bottom: 15px;}
.clearfix:before, .clearfix:after { display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0;}
.clearfix:after { clear: both;}
.clearfix { zoom: 1;}



.slider {
    width:100%;
    height:360px;
    position:relative;
    overflow:hidden;
    background:#fff;
    text-align:center;
}
.slider .bd {
    width:1200px;
    position:absolute;
    left:50%;
    margin-left:-600px;
}
.slider .bd li {
    width:1200px;
    overflow:hidden;
}
.slider .bd li img {
    display:block;
    width:1200px;

}
.slider .tempWrap {
    overflow:visible !important
}
.slider .tempWrap ul {
    margin-left:-1200px !important;
}
.slider .hd {
    position:absolute;
    width:100%;
    left:0;
    z-index:1;
    height:8px;
    bottom:20px;
    text-align:center;
}
.slider .hd li {
    display:inline-block;
    *display:inline;
    zoom:1;
    width:8px;
    height:8px;
    line-height:99px;
    overflow:hidden;
    /*background:url(../images/slider-btn.png) 0 -10px no-repeat;*/
    margin:0 5px;
    cursor:pointer;
}
.slider .hd li.on {
    background-position:0 0;
}
.slider .pnBtn {
    position:absolute;
    z-index:1;
    top:0;
    width:100%;
    height:360px;
    cursor:pointer;
}
.slider .prev {
    left:-50%;
    margin-left:-600px;
}
.slider .next {
    left:50%;
    margin-left:600px;
}
.slider .pnBtn .blackBg {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:450px;
    background:#000;
    filter: alpha(Opacity=70);
    opacity: .7;

}
.slider .pnBtn .arrow {
    display:none;
    position:absolute;
    top:50%;
    z-index:1;
    margin-top: -25px;
    height: 50px;
    width: 50px;
    background-color: #303030;
    filter: alpha(Opacity=70);
    opacity: .7;
}
.slider .arrow i{ color: #fff;     font-size: 34px;}

.slider .prev .arrow {
    background-position: 0 0;
    right:-50px;

}

.slider .prev .arrow:hover,.slider .next .arrow:hover{
    background-color: orangered;

}
.slider .next .arrow {
    background-position: -120px 0;
    left:-50px;

}