body.vitae-detail-body {
    background: url(../images/logo_bg.png);
    background-position: left center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 30%;
}

header {
    height: 340px;
    background-color: #53c0d7;
}

#viate-detail {
    margin-top: -256px;
}

#viate-detail .viate-detail-main {
    background-color: #fff;
    padding: 25px 50px;
    margin-bottom: 50px;
    border: 1px solid #e6eaeb;

}

#viate-detail .logo {
    float: right;
    margin-bottom: 20px;
}

.user_image {
    width: 90px;
    height: 90px;
}

.user-abstract {
}

.user-abstract .row, .user-abstract-box .row {
    margin-bottom: 15px;
}

div.new_btn {
    margin-left: 0;
    margin-bottom: 10px;
}

.user-abstract-box {

    padding: 20px 10px;
}

h5.user_name {
    font-size: 16px;
}

.meta {

    border-bottom: 1px #e3e3e3 dashed;
    padding: 0 10px;
    padding-bottom: 30px;
}

.box-head {
    background: url(../images/x1.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    color: #fff;
    height: 40px;

    border-bottom: 1px solid #bee6f0;
    line-height: 2;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    border-bottom-left-radius: 10px;

}

.box-head h5 {
    color: #fff;
    font-size: 18px;
}

.box-head a.btn-change {
    text-align: right;
    font-size: 14px;
}

.box-body {
    color: #807b7b;
}

.jobs-list {
    margin-bottom: 35px;
    padding-left: 16px;
    border: 1px solid #efefef;
    border-left: 3px solid #3baec9;
    padding-top: 20px;
    transition: 1s all;
}
.jobs-list:hover{border-left: 3px solid #1d2088; transition: 1s all;}

.jobs-list-title {
    margin-bottom: 10px;
}

.jobs-list-body {
    padding-left: 0px;
}

.user-works h5 a {
    color: #3d3d3c;
}

.work_pic {
    width: 150px;
    height: 150px;
}

.viate_list li {
    text-align: center;
    cursor: pointer;
}

.viate_list li img {
    margin-bottom: 10px;
}

.viate_list li strong {
}

.viate_bar_txt {
    margin-bottom: 18px;
}

.viate_bar_txt_white {
    color: #fff;
}

.viate_list {
    margin-top: 20px
}

.ed-bar {
    margin-top: 15px;
}

.ed-bar a, .ed-bar, .ed-bar .iconfont {
    color: #57b7d0;
}

.user-abstract-box i {
    margin-right: 2px;
}
.course{ margin-bottom: 10px; }

/* 移动端样式 */
@media (max-width: 767px) {
    .viate_bar_txt_white {
        color: #000;
    }

    #viate-detail {
        margin-top: 0px;
    }

    #viate-detail .viate-detail-main {
        padding: 25px 15px;
    }

    main {
        padding-top: 0px;
    }
}
