<!DOCTYPE html>
<html lang="zh-cn">
<include file="Common:head" />
<body>
<include file="Common:header" />
<main class="container">
    <div class="row">
        <div class="col-md-9 ">
            <include file="common:user_info_tab"/>
            <!--  公司 主要信息 TAB -->
            <div class="userinfo row">
                <div class="col-md-10 col-md-offset-1">

                        <div class="panel panel-default lb-panel ">
                            <div class="panel-heading ">
                                <div class="row">
                                    <h5 class="col-md-8">会员权益</h5>
                                </div>
                            </div>
                            <div class="panel-body">
																	<li>普通会员	注册，填写简历	注册	投简历，查看企业等和其他网站无区别</li>
                                  <li>优享会员	职业测评，求职顾问一对一沟通</li>
                                  <li>尊享会员	线下门店面对面服务任一门店免费打印简历</li>

                            </div>
                        </div>


                </div>
            </div>


        </div>

        <div class="col-md-3 ">
            <include file="Common:user_right" />

        </div>
    </div>

</main>
<include file="Common:footer" />
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>