<extend name="Common/common"/>
<block name="body">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">网站设置</li>
            <li>企业套餐</li>
            <li>企业规模</li>
            <li>会员套餐</li>
            <li>工作性质</li>
            <li>工作状态</li>
            <li>工作经验</li>
            <li>学历要求</li>
            <li>最高学历</li>
            <li>融资信息</li>
            <li>入职时间</li>
            <li>个人模板</li>
            <li>企业模板</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">网站域名</label>
                        <div class="layui-input-block w80">
                            <input type="text" name="BASE[domain]" value="{$content['BASE']['domain']}"
                                   placeholder="请输入网站域名"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">网站标题</label>
                        <div class="layui-input-block w80">
                            <input type="text" name="BASE[title]" value="{$content['BASE']['title']}"
                                   placeholder="请输入网站标题"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">网站关键字</label>
                        <div class="layui-input-block w80">
                            <input type="text" name="BASE[keyword]" value="{$content['BASE']['keyword']}"
                                   placeholder="请输入网站关键字"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">网站描述</label>
                        <div class="layui-input-block w80">
                            <input type="text" name="BASE[desc]" value="{$content['BASE']['desc']}"
                                   placeholder="请输入网站描述"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">热门搜索</label>
                        <div class="layui-input-block w80">
                            <input type="text" name="BASE[search]" value="{$content['BASE']['search']}"
                                   placeholder="请输入热门搜索，多个使用英文逗号隔开"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-col-xs6">
                        <fieldset class="layui-elem-field">
                            <legend>普通会员</legend>
                            <div class="layui-field-box">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="COMPANY[0][name]"
                                               value="{$content['COMPANY']['0']['name']}"
                                               placeholder="请输入套餐名称"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐价格</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="COMPANY[0][price]"
                                               value="{$content['COMPANY']['0']['price']}"
                                               placeholder="请输入套餐价格"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">免费刷新次数</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="COMPANY[0][refresh_num]"
                                               value="{$content['COMPANY']['0']['refresh_num']}"
                                               placeholder="请输入免费刷新次数"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">发布岗位数量</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="COMPANY[0][send_num]"
                                               value="{$content['COMPANY']['0']['send_num']}"
                                               placeholder="请输入发布岗位数量"
                                               class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="layui-col-xs6">
                        <fieldset class="layui-elem-field">
                            <legend>黄金会员 - 1888</legend>
                            <div class="layui-field-box">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="COMPANY[1888][name]"
                                               value="{$content['COMPANY']['1888']['name']}"
                                               placeholder="请输入套餐名称"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐价格</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="COMPANY[1888][price]"
                                               value="{$content['COMPANY']['1888']['price']}"
                                               placeholder="请输入套餐价格"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">免费刷新次数</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="COMPANY[1888][refresh_num]"
                                               value="{$content['COMPANY']['1888']['refresh_num']}"
                                               placeholder="请输入免费刷新次数"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">发布岗位数量</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="COMPANY[1888][send_num]"
                                               value="{$content['COMPANY']['1888']['send_num']}"
                                               placeholder="请输入发布岗位数量"
                                               class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="layui-col-xs6">
                        <fieldset class="layui-elem-field">
                            <legend>铂金会员 - 5888</legend>
                            <div class="layui-field-box">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="COMPANY[5888][name]"
                                               value="{$content['COMPANY']['5888']['name']}"
                                               placeholder="请输入套餐名称"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐价格</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="COMPANY[5888][price]"
                                               value="{$content['COMPANY']['5888']['price']}"
                                               placeholder="请输入套餐价格"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">免费刷新次数</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="COMPANY[5888][refresh_num]"
                                               value="{$content['COMPANY']['5888']['refresh_num']}"
                                               placeholder="请输入免费刷新次数"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">发布岗位数量</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="COMPANY[5888][send_num]"
                                               value="{$content['COMPANY']['5888']['send_num']}"
                                               placeholder="请输入发布岗位数量"
                                               class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="layui-col-xs6">
                        <fieldset class="layui-elem-field">
                            <legend>钻石会员 - 8888</legend>
                            <div class="layui-field-box">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="COMPANY[8888][name]"
                                               value="{$content['COMPANY']['8888']['name']}"
                                               placeholder="请输入套餐名称"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐价格</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="COMPANY[8888][price]"
                                               value="{$content['COMPANY']['8888']['price']}"
                                               placeholder="请输入套餐价格"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">免费刷新次数</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="COMPANY[8888][refresh_num]"
                                               value="{$content['COMPANY']['8888']['refresh_num']}"
                                               placeholder="请输入免费刷新次数"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">发布岗位数量</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="COMPANY[8888][send_num]"
                                               value="{$content['COMPANY']['8888']['send_num']}"
                                               placeholder="请输入发布岗位数量"
                                               class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">下载简历</label>
                        <div class="layui-input-block w80">
                            <input type="text" name="COMPANY[base][down]" value="{$content['COMPANY']['base']['down']}"
                                   placeholder="下载简历消耗几斤萝卜【等值人民币：元】"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">刷新招聘</label>
                        <div class="layui-input-block w80">
                            <input type="text" name="COMPANY[base][refresh]"
                                   value="{$content['COMPANY']['base']['refresh']}"
                                   placeholder="刷新招聘信息消耗几斤萝卜【等值人民币：元】"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">置顶招聘</label>
                        <div class="layui-input-block w80">
                            <input type="text" name="COMPANY[base][top]" value="{$content['COMPANY']['base']['top']}"
                                   placeholder="置顶招聘信息消耗几斤萝卜【等值人民币：元】"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">推荐首页</label>
                        <div class="layui-input-block w80">
                            <input type="text" name="COMPANY[base][index]"
                                   value="{$content['COMPANY']['base']['index']}"
                                   placeholder="推荐首页招聘信息消耗几斤萝卜【等值人民币：元】"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">置顶天数</label>
                        <div class="layui-input-inline">
                            <input type="text" name="COMPANY[base][top_day][1]"
                                   value="{$content['COMPANY']['base']['top_day'][1]}"
                                   placeholder="置顶天数"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="COMPANY[base][top_day][2]"
                                   value="{$content['COMPANY']['base']['top_day'][2]}"
                                   placeholder="置顶天数"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="COMPANY[base][top_day][3]"
                                   value="{$content['COMPANY']['base']['top_day'][3]}"
                                   placeholder="置顶天数"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="COMPANY[base][top_day][4]"
                                   value="{$content['COMPANY']['base']['top_day'][4]}"
                                   placeholder="置顶天数"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="ENTERPRISE_SCALE[1]"
                                   value="{$content['ENTERPRISE_SCALE'][1]}"
                                   placeholder="请输入企业规模人数范围"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="ENTERPRISE_SCALE[2]"
                                   value="{$content['ENTERPRISE_SCALE'][2]}"
                                   placeholder="请输入企业规模人数范围"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="ENTERPRISE_SCALE[3]"
                                   value="{$content['ENTERPRISE_SCALE'][3]}"
                                   placeholder="请输入企业规模人数范围"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="ENTERPRISE_SCALE[4]"
                                   value="{$content['ENTERPRISE_SCALE'][4]}"
                                   placeholder="请输入企业规模人数范围"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-col-xs4">
                        <fieldset class="layui-elem-field">
                            <legend>普通会员</legend>
                            <div class="layui-field-box">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="USER[0][name]"
                                               value="{$content['USER']['0']['name']}"
                                               placeholder="请输入套餐名称"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐价格</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="USER[0][price]"
                                               value="{$content['USER']['0']['price']}"
                                               placeholder="请输入套餐价格"
                                               class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="layui-col-xs4">
                        <fieldset class="layui-elem-field">
                            <legend>优享会员 - 9.9</legend>
                            <div class="layui-field-box">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="USER[9][name]"
                                               value="{$content['USER']['9']['name']}"
                                               placeholder="请输入套餐名称"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐价格</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="USER[9][price]"
                                               value="{$content['USER']['9']['price']}"
                                               placeholder="请输入套餐价格"
                                               class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="layui-col-xs4">
                        <fieldset class="layui-elem-field">
                            <legend>尊享会员 - 19.9</legend>
                            <div class="layui-field-box">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐名称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="USER[19][name]"
                                               value="{$content['USER']['19']['name']}"
                                               placeholder="请输入套餐名称"
                                               class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">套餐价格</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="USER[19][price]"
                                               value="{$content['USER']['19']['price']}"
                                               placeholder="请输入套餐价格"
                                               class="layui-input">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">注册资料</label>
                        <div class="layui-input-block w80">
                            <input type="text" name="USER[base][register]"
                                   value="{$content['USER']['base']['register']}"
                                   placeholder="首次注册，填写完整简历，获取萝卜数【等值人民币：元】"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">分享岗位</label>
                        <div class="layui-input-block w80">
                            <input type="text" name="USER[base][share]" value="{$content['USER']['base']['share']}"
                                   placeholder="分享岗位，获取萝卜数【等值人民币：元】"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_NATURE[full_time]"
                                   value="{$content['WORK_NATURE']['full_time']}"
                                   placeholder="请输入工作性质"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_NATURE[part_time]"
                                   value="{$content['WORK_NATURE']['part_time']}"
                                   placeholder="请输入工作性质"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_NATURE[internship]"
                                   value="{$content['WORK_NATURE']['internship']}"
                                   placeholder="请输入工作性质"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_TYPE[0]"
                                   value="{$content['WORK_TYPE']['0']}"
                                   placeholder="请输入工作状态"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_TYPE[1]"
                                   value="{$content['WORK_TYPE']['1']}"
                                   placeholder="请输入工作状态"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_TYPE[2]"
                                   value="{$content['WORK_TYPE']['2']}"
                                   placeholder="请输入工作状态"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_EXPERIENCE[0]" value="{$content['WORK_EXPERIENCE'][0]}"
                                   placeholder="请输入工作经验"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_EXPERIENCE[1]" value="{$content['WORK_EXPERIENCE'][1]}"
                                   placeholder="请输入工作经验"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_EXPERIENCE[2]" value="{$content['WORK_EXPERIENCE'][2]}"
                                   placeholder="请输入工作经验"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_EXPERIENCE[3]" value="{$content['WORK_EXPERIENCE'][3]}"
                                   placeholder="请输入工作经验"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_EXPERIENCE[4]" value="{$content['WORK_EXPERIENCE'][4]}"
                                   placeholder="请输入工作经验"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="WORK_EXPERIENCE[5]" value="{$content['WORK_EXPERIENCE'][5]}"
                                   placeholder="请输入工作经验"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="EDUCATION[1]" value="{$content['EDUCATION'][1]}"
                                   placeholder="请输入学历要求"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="EDUCATION[2]" value="{$content['EDUCATION'][2]}"
                                   placeholder="请输入学历要求"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="EDUCATION[3]" value="{$content['EDUCATION'][3]}"
                                   placeholder="请输入学历要求"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="EDUCATION[4]" value="{$content['EDUCATION'][4]}"
                                   placeholder="请输入学历要求"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="EDUCATION[5]" value="{$content['EDUCATION'][5]}"
                                   placeholder="请输入学历要求"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="EDUCATION[6]" value="{$content['EDUCATION'][6]}"
                                   placeholder="请输入学历要求"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="EDUCATION[7]" value="{$content['EDUCATION'][7]}"
                                   placeholder="请输入学历要求"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="EDUCATION[8]" value="{$content['EDUCATION'][8]}"
                                   placeholder="请输入学历要求"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="EDUCATION[9]" value="{$content['EDUCATION'][9]}"
                                   placeholder="请输入学历要求"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="HIGH_EDUCATION[1]" value="{$content['HIGH_EDUCATION'][1]}"
                                   placeholder="请输入最高学历"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="HIGH_EDUCATION[2]" value="{$content['HIGH_EDUCATION'][2]}"
                                   placeholder="请输入最高学历"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="HIGH_EDUCATION[3]" value="{$content['HIGH_EDUCATION'][3]}"
                                   placeholder="请输入最高学历"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="HIGH_EDUCATION[4]" value="{$content['HIGH_EDUCATION'][4]}"
                                   placeholder="请输入最高学历"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="HIGH_EDUCATION[5]" value="{$content['HIGH_EDUCATION'][5]}"
                                   placeholder="请输入最高学历"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="HIGH_EDUCATION[6]" value="{$content['HIGH_EDUCATION'][6]}"
                                   placeholder="请输入最高学历"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="HIGH_EDUCATION[7]" value="{$content['HIGH_EDUCATION'][7]}"
                                   placeholder="请输入最高学历"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="HIGH_EDUCATION[8]" value="{$content['HIGH_EDUCATION'][8]}"
                                   placeholder="请输入最高学历"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="SCALES[1]" value="{$content['SCALES'][1]}"
                                   placeholder="请输入融资信息"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="SCALES[2]" value="{$content['SCALES'][2]}"
                                   placeholder="请输入融资信息"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="SCALES[3]" value="{$content['SCALES'][3]}"
                                   placeholder="请输入融资信息"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="SCALES[4]" value="{$content['SCALES'][4]}"
                                   placeholder="请输入融资信息"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="SCALES[5]" value="{$content['SCALES'][5]}"
                                   placeholder="请输入融资信息"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="SCALES[6]" value="{$content['SCALES'][6]}"
                                   placeholder="请输入融资信息"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input type="text" name="POST_TIME[1]" value="{$content['POST_TIME'][1]}"
                                   placeholder="请输入最快入职时间"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="POST_TIME[2]" value="{$content['POST_TIME'][2]}"
                                   placeholder="请输入最快入职时间"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="POST_TIME[3]" value="{$content['POST_TIME'][3]}"
                                   placeholder="请输入最快入职时间"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="POST_TIME[4]" value="{$content['POST_TIME'][4]}"
                                   placeholder="请输入最快入职时间"
                                   class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" name="POST_TIME[5]" value="{$content['POST_TIME'][5]}"
                                   placeholder="请输入最快入职时间"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">自我简介</label>
                        <div class="layui-input-block w80">
                            <textarea name="USER_DISPLAY[self_display]" class="layui-textarea" placeholder="请输入自我简介模板">{$content['USER_DISPLAY']['self_display']}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">岗位职责</label>
                        <div class="layui-input-block w80">
                            <textarea name="COMPANY_DISPLAY[position_display]" class="layui-textarea" rows="8"
                                      placeholder="请输入岗位职责模板">{$content['COMPANY_DISPLAY']['position_display']}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">任职要求</label>
                        <div class="layui-input-block w80">
                            <textarea name="COMPANY_DISPLAY[tenure_display]" class="layui-textarea" rows="10"
                                      placeholder="请输入任职要求模板">{$content['COMPANY_DISPLAY']['tenure_display']}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">福利待遇</label>
                        <div class="layui-input-block w80">
                            <textarea name="COMPANY_DISPLAY[welfare_display]" class="layui-textarea"
                                      placeholder="请输入福利待遇模板">{$content['COMPANY_DISPLAY']['welfare_display']}</textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="submit" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</block>
<block name="js">
    <script>
        $(function () {
            form.render();
            form.on('submit(submit)', function (data) {
                var _this = this;
                _this.disabled = true;
                $.post("{:U('save')}", data.field, function (res) {
                    if (res.status == 1) {
                        layer.msg(res.info, {icon: 1}, function () {
                            location.href = "{:U('index')}"
                        });
                    } else {
                        _this.disabled = false;
                        layer.msg(res.info, {icon: 2});
                    }
                });
                return false;
            });
        })
    </script>
</block>
