<!DOCTYPE html>
<html lang="zh-cn">
<include file="Common:head" />
<link rel="stylesheet" href="__CSS_PATH__/auth.css?v=1.0">
<body>
<main class="container">
    <div class="col-md-8 col-md-offset-2">
        <div  class="row" id="auth_form">
            <div class="col-md-12 reg_head"></div>

            <div class="col-md-6 col-xs-12 auth_left login-form text-center">
                <div class="form-gorup">
                    <img src="__IMAGE_PATH__/user.jpg" class="c">
                </div>

                <div class="form-group text-center">
                    <a href="{:U('User/info_edit')}" class="btn btn-primary choose-btn">找工作</a>
                </div>
            </div>

            <div class="col-md-6  col-xs-12 login-form text-center">
                <div class="form-gorup ">
                    <img src="__IMAGE_PATH__/com.jpg" class="c">
                </div>

                <div class="form-group  text-center">
                    <a href="{:U('Company/edit')}" class="btn btn-primary choose-btn">去招人</a>
                </div>

            </div>
        </div>
    </div>

</main>
<style>

</style>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="__JS_PATH__/bootstrap.min.js"></script>

</body>

</html>
