<assign name="title" value="修改密码" />
<!DOCTYPE html>
<html lang="zh-cn">
<include file="Common:head" />
<body>
<include file="Common:header" />
<main class="container">
    <div class="row">
        <div class="col-md-10 box col-md-offset-1">

            <!--  公司 主要信息 TAB -->
            <div class="userinfo row">
                <div class="col-md-10 col-md-offset-1">
                    <form action="" method="post" class="form-horizontal">
                        <div class="panel panel-default lb-panel ">
                            <div class="panel-heading ">
                                <div class="row">
                                    <h5 class="col-md-8">更改密码</h5>
                                </div>
                            </div>
                            <div class="panel-body">
 															  <div class="form-group">
                                   <label for="old_pwd" class="col-sm-12 control-label">旧密码</label>
                                   <input id="old_pwd" type="password" name="old_pwd" class="form-control col-sm-12" >
                                </div>
                                <div class="form-group">
                                   <label for="pwd" class="col-sm-12 control-label">新密码</label>
                                   <input id="pwd" type="password" name="pwd" class="form-control col-sm-12" >
                                </div>
                                <div class="form-group">
                                    <label for="pwd2" class="col-sm-12 control-label">确认密码</label>
                                    <input id="pwd2" type="password" name="pwd2" class="form-control col-sm-12" >
																</div>
                            </div>
                        </div>

                        <div class="panel panel-default lb-panel ">
                                                <div class="panel-body">
                                                <div class="form-group">
                                                    <input type="button" class="btn btn-default resetPassword" value="保存">
                                                    <input type="hidden" value="edit" name="act">
                                                </div>
                                                </div>
                                                </div>
                    </form>
                </div>
            </div>


        </div>


    </div>

</main>
<include file="Common:footer" />
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>
$(function() {


   $("input").blur(function(){
      if($(this).val().length <= 6){
          $("#pwd").focus();
          toastr.warning("密码不能少于六位，并且包含英文大小写字母");

      }
   });

  $('.resetPassword').on('click',function(){
          var password = $('#pwd').val();
          var password2 = $('#pwd2').val();
          var old_pwd = $('#old_pwd').val();
          var request = $.ajax({
              url: "{:U('Auth/ResetPassword')}",
              method: "POST",
              data: {
                  old_pwd : old_pwd,
                  pwd : password,
                  pwd2 : password2
              },
              dataType: "json",
          });

          request.done(function (data) {
              //console.log(data);
              if(data.status == "success"){
                  toastr.success("密码更新成功。");
                  window.location.replace('{:U('auth/logout')}');
              }else{
                  toastr.error('操作失败:'+data.msg, '哎呦!');
                  $('#pwd').focus();
              }
          });

          request.fail(function (jqXHR, textStatus) {
              console.log(textStatus);
              return false;
          });

          return false;
      });
});

</script>
</body>
</html>