<include file="Common:head" />
<!-- 注册登录 专用其他项目不用加载-->
<link rel="stylesheet" href="__CSS_PATH__/auth.css">
<script src="__JS_PATH__/toastr.min.js"></script>
<link rel="stylesheet" href="__CSS_PATH__/toastr.min.css">
<assign name="title" value="设置密码" />
<main class="container">
    <div class="row" >
        <div class="col-md-3 col-xs-1"></div>
        <div  class="col-md-6 col-xs-10 form-box">
            <div class="form-group">
                <h1 class="auth-title">设定密码 <span>resetting</span></h1>
            </div>

            <form action="" method="post">
                <input type="hidden" name="mobile" value="{$mobile}"/>
                <div class="form-group ">
                    <div class="input-group">
                        <div class="input-group-addon"><img src="__IMAGE_PATH__/pwd.png"></div>
                        <input type="password" class="form-control" id="newpwd" name="pwd" placeholder="新密码">
                    </div>
                    <span id="pwd1" class="help-block hide">电话号码有误.</span>
                </div>
                <div class="form-group ">
                    <div class="input-group">
                        <div class="input-group-addon repwd"><img src="__IMAGE_PATH__/pwd.png"></div>
                        <input type="password" class="form-control repwd" id="repwd" placeholder="再次输入新密码">
                    </div>
                    <span id="pwd2" class="help-block" style="display: none">两次密码不一致.</span>
                </div>

                <div class="form-group">
                    <button type="button" id="setpwd" class="btn btn-primary form-control">确定</button>
                </div>
            </form>

        </div>
        <div class="col-md-3 col-xs-1"></div>
    </div>
    <img src="__IMAGE_PATH__/auth_felx.png" class="falx_01 visible-lg-block  animated slideInLeft delay-4s">
    <img src="__IMAGE_PATH__/auth_flex2.png" class="falx_02 visible-lg-block animated slideInUp  delay-3s">
    <img src="__IMAGE_PATH__/auth_flex3.png" class="falx_03 visible-lg-block ">
</main>

<script type="text/javascript">
		$('#setpwd').on('click',function() {

				toastr.info('请稍等');
		    setpwd();
		  
		});
    function setpwd(){
        var pwd = $("#newpwd").val()
        var repwd = $("#repwd").val()
        if(pwd != repwd){
            $("#pwd2").css("display","block");
            $(".repwd").css("border", "1px solid rgb(233, 104, 107)");
            return false;
        }

        $.post("{:U('Auth/setPassword')}", {pwd: pwd, pwd2:repwd}, function (res) {
            console.log(res);
            if(res.code == 0){
                toastr.success(res.msg);
                location.href = res.data;
            } else {
                toastr.warning(res.msg, '发生错误');
                // location.href = res.data;
            }
        });

        return true;
    }

</script>

<include file="Common:foot" />