<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body, html{width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
        .address_c{position: relative;margin-top:30px;width: 630px;height: 400px;top: -20px;border: 1px solid gray;}
    </style>
    <link rel="stylesheet" href="__CSS_PATH__/bootstrap.min.css">
    <script src="__JS_PATH__/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=gvGLqTmLhO2BWrGdpQSI0oRm6N9UeFoI"></script>
    <title>编辑公司位置</title>
</head>
<body>

<input type="hidden" name="type" value="2">
<div class="modal-body">
    <div style="width:630px;margin:auto;">
        要查询的地址：<input id="company_address" type="text" name="content" value="{$info['company_address']}" style="margin-right:25px;"/>
        查询结果(经纬度)：<input id="long_lat" type="text" name="long_lat" value="{$info['long_lat']}" />
        <input type="button" value="查询" onclick="searchByStationName();"/>
        <div id="allmap" class="address_c" style="overflow:hidden;">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
    </button>
    <input type="submit" class="btn btn-primary" id="submit_address" value="提交更改">
</div>

<script src="__JS_PATH__/toastr.min.js"></script>
<link rel="stylesheet" href="__CSS_PATH__/toastr.min.css">


<script type="application/javascript">
    $("#submit_address").click(function(){
        var content = $("input[name=content]").val();
        var long_lat = $("input[name=long_lat]").val();

        $.post("{:U('Company/updateInfo')}", {type: 2, content: content, long_lat: long_lat}, function (res) {
            if (res.code == 0) {
                toastr.success(res.msg);
            } else {
                toastr.error(res.msg);
            }
            var closeCmd = 'close-this-iframe';
            parent.postMessage(closeCmd, window.location.origin);
            return true;
        });
    });
</script>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap",{minZoom:15,maxZoom:18});
    map.centerAndZoom('西安市', 12);
    map.enableScrollWheelZoom();
    map.enableContinuousZoom();
    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.OverviewMapControl());
    map.addControl(new BMap.OverviewMapControl({ isOpen: false, anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));

    var localSearch = new BMap.LocalSearch(map);
    localSearch.enableAutoViewport(); //允许自动调节窗体大小

    function searchByStationName() {
        map.clearOverlays();//清空原来的标注
        var address = document.getElementById("company_address").value;
        localSearch.setSearchCompleteCallback(function (searchResult) {
            var poi = searchResult.getPoi(0);
            document.getElementById("long_lat").value = poi.point.lng + "," + poi.point.lat;
            map.centerAndZoom(poi.point, 13);
            var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度
            map.addOverlay(marker);
            var content = document.getElementById("company_address").value + "<br/><br/>经度：" + poi.point.lng + "<br/>纬度：" + poi.point.lat;
            var infoWindow = new BMap.InfoWindow("<p style='font-size:14px;'>" + content + "</p>");
            marker.addEventListener("click", function () { this.openInfoWindow(infoWindow); });
            // marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        });
        localSearch.search(address);
    }

    var bf_address = document.getElementById("company_address").value;
    if (bf_address) {
        var local = new BMap.LocalSearch(map, {
            renderOptions:{map: map}
        });
        local.search(bf_address);
    }
</script>

</body>
</html>
