<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../../../favicon.ico">

<title>{$title} {:C('base')['title']}</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="__CSS_PATH__/bootstrap.min.css">
<link rel="stylesheet" href="__CSS_PATH__/base.css">
<link rel="stylesheet" href="__CSS_PATH__/mobile.css">
<meta name="keywords" content="{:C('base')['keyword']}">
<meta name="description" content="{:C('base')['desc']}">

<link rel="stylesheet" href="__CSS_PATH__/animate.min.css">
<link rel="stylesheet" type="text/css" href="__FONT_PATH__/iconfont.css">
<script src="__JS_PATH__/jquery-3.3.1.min.js"></script>

