<extend name="Common/common"/>
<block name="body">
    <form class="layui-form search" action="" name="search">
        <div class="layui-row">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                <input type="text" name="mobile" value="{:I('get.mobile')}" placeholder="请输入手机号码" class="layui-input">
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                <input type="text" name="email" value="{:I('get.email')}" placeholder="请输入邮箱" class="layui-input">
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                <input type="text" name="name" value="{:I('get.name')}" placeholder="请输入公司名称" class="layui-input">
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                <button class="layui-btn search" type="button"><i class="layui-icon">
                    &#xe615;</i>查询
                </button>
            </div>
        </div>
    </form>
    <table class="layui-hide" id="table" lay-filter="table"></table>
</block>
<block name="box">
    <div id="box" class="hide">
        <form class="layui-form mt20 w80">
            <div class="layui-form-item">
                <label class="layui-form-label">失败原因</label>
                <div class="layui-input-block">
                    <textarea type="text" name="content" class="layui-textarea" placeholder="请输入失败原因"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id" value="0" id="company-id"/>
                    <button class="layui-btn" lay-submit="" lay-filter="save-admin">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</block>
<block name="js">
    <script type="text/html" id="img">
        <div class="open-img-layer cursor"><img layer-src={{d.business_lincense}} src="{{d.business_lincense}}"
                                                alt="{{d.company_name}}"
                                                width="120"></div>
    </script>
    <script type="text/html" id="table-edit">


        {{#  if(d.is_check == 4){ }}
        <a class="layui-btn layui-btn-xs set-company"
           data-url="{:U('setCompany')}?id={{d.id}}&is_check=1">重新审核成功</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger set-company-fail" data-id="{{d.id}}">重新审核失败</a>
        {{#  } else { }}
        <a class="layui-btn layui-btn-xs set-company"
           data-url="{:U('setCompany')}?id={{d.id}}&is_check=1">审核成功</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger set-company-fail" data-id="{{d.id}}">审核失败</a>
        {{#  } }}

    </script>
    <script>
        $(function () {
            var index;
            var tableObj;
            form.render();
            var url = "{:U('examine')}";
            refresh();
            $('form.search').on('click', 'button.search', function () {
                refresh();
            });

            function refresh() {
                var param = $('form.search').serialize();
                var get_url = url + '?' + param;
                getData(get_url);
            }

            $('body').on('mouseover', '.open-img-layer', function () {
                var _this = $(this);
                layer.photos({
                    photos: _this
                });
            })

            $('body').on('click', '.set-company', function () {
                var del_url = $(this).data('url');
                var text = $(this).text();
                layer.confirm('你确定要将此企业账号' + text + '吗？', function () {
                    $.get(del_url, {}, function (res) {
                        if (res.status == 1) {
                            layer.msg(res.info, {icon: 1}, function () {
                                tableObj.reload();
                            })
                        } else {
                            layer.msg(res.info, {icon: 2});
                        }
                    })
                })
            })

            //添加管理员账号
            $('body').on('click', '.set-company-fail', function () {
                $('#company-id').val($(this).data('id'));
                $('textarea[name=content]').val('');
                index = layer.open({
                    title: "审核企业失败",
                    type: 1,
                    area: ['600px', '260px'],
                    content: $('#box'),
                })
            })

            form.on("submit(save-admin)", function (data) {
                var _btn = data.elem;
                _btn.disabled = true;
                var url = "{:U('setCompany')}";
                data.field.is_check = 2;
                var wait_index = layer.msg('请求中，请稍候', {icon: 16, time: false, shade: 0.8});
                $.post(url, data.field, function (res) {
                    if (res.status == 1) {
                        layer.msg(res.info, {icon: 1}, function () {
                            layer.closeAll();
                            tableObj.reload();
                        })
                    } else {
                        _btn.disabled = false;
                        layer.msg(res.info, {icon: 2});
                        layer.close(wait_index);
                    }
                });
            });


            /**
             * 获取数据
             * @param url
             */
            function getData(url) {
                tableObj = table.render({
                    elem: '#table'
                    , url: url
                    , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                        , groups: 5 //只显示 1 个连续页码
                    }
                    , cellMinWidth: 100
                    , cols: [[
                        {field: 'user_id', title: '用户ID', sort: true}
                        , {field: 'company_name', width: 200, title: '公司名称'}
                        , {field: 'business_lincense', title: '图片', width: 150, templet: '#img'}
                        , {field: 'mobile', title: '手机号码'}
                        , {field: 'email', title: '邮箱'}
                        , {field: 'name', title: '用户名称'}
                        , {field: 'company_address', title: '公司地址'}
                        , {fixed: 'right', title: '操作', toolbar: '#table-edit', width: '20%'}
                    ]],
                });
            }
        })
    </script>
</block>

