<extend name="Common/common"/>
<block name="css">
    <style type="text/css">
        .search .layui-form-select .layui-edge {
            right: 25%;
        }

        .search .layui-form-select dl {
            min-width: 80%;
        }
    </style>
</block>
<block name="body">
    <form class="layui-form search" action="" name="search">
        <div class="layui-row">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <input type="text" name="mobile" value="{:I('get.mobile')}" placeholder="请输入手机号码" class="layui-input">
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <input type="text" name="email" value="{:I('get.email')}" placeholder="请输入邮箱" class="layui-input">
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md2">
                <input type="text" name="name" value="{:I('get.name')}" placeholder="请输入公司名称" class="layui-input">
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                <select name="is_check" class="layui-select">
                    <option value="">请选择企业状态</option>
                    <option value="0">未认证</option>
                    <option value="1">已认证通过</option>
                    <option value="2">认证失败</option>
                    <option value="4">二次未认证</option>
                </select>
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                <input type="checkbox" name="status" value="1" title="禁用">
                <button class="layui-btn search" type="button"><i class="layui-icon">
                    &#xe615;</i>查询
                </button>
            </div>
        </div>
    </form>
    <table class="layui-hide" id="table" lay-filter="table"></table>
</block>
<block name="box">
    <div id="meal" class="hide">
        <form class="layui-form mt20">
            <div class="layui-form-item">
                <label class="layui-form-label">设置套餐</label>
                <php>$meal = C('COMPANY');unset($meal['base'],$meal[0]);</php>
                <php>$val = 1;</php>
                <volist name="meal" id="row">
                    <div class="layui-input-inline" style="width: 120px;">
                        <input type="radio" name="meal" value="{$val}"
                               title="{$row.name}">
                    </div>
                    <php>$val++;</php>
                </volist>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id"/>
                    <button class="layui-btn" lay-submit="" lay-filter="save-meal">立即提交</button>
                </div>
            </div>
        </form>
    </div>
    <div id="credit" class="hide">
        <form class="layui-form mt20">
            <div class="layui-form-item">
                <label class="layui-form-label">企业评分</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="radio" name="credit" value="1"
                           title="1分">
                </div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="radio" name="credit" value="2"
                           title="2分">
                </div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="radio" name="credit" value="3"
                           title="3分">
                </div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="radio" name="credit" value="4"
                           title="4分">
                </div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="radio" name="credit" value="5"
                           title="5分">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id"/>
                    <button class="layui-btn" lay-submit="" lay-filter="save-credit">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</block>
<block name="js">
    <script type="text/html" id="company-status">
        {{#  if(d.is_check == 1){ }}
        <a class="layui-btn layui-btn-xs">已认证通过</a>
        {{#  } else if(d.is_check ==2) { }}
        <a class="layui-btn layui-btn-xs layui-btn-danger">认证失败</a>
        {{#  } else if(d.is_check ==4) { }}
        <a class="layui-btn layui-btn-xs layui-btn-danger">二次认证，等待审核</a>
        {{#  } else { }}
        <a class="layui-btn layui-btn-xs layui-btn-danger">未认证</a>
        {{#  } }}
    </script>
    <script type="text/html" id="company-meal">
        {{#  if(d.company_meal == 1){ }}
        <a class="layui-btn layui-btn-xs">黄金会员</a>
        {{#  } else if(d.company_meal ==2) { }}
        <a class="layui-btn layui-btn-xs layui-btn-warm">铂金会员</a>
        {{#  } else if(d.company_meal ==3) { }}
        <a class="layui-btn layui-btn-xs layui-btn-danger">钻石会员</a>
        {{#  } else { }}
        <a class="layui-btn layui-btn-xs layui-btn-normal">普通会员</a>
        {{#  } }}
    </script>
    <script type="text/html" id="table-edit">
        <a class="layui-btn layui-btn-xs set-meal" data-id="{{d.id}}">设置套餐</a>
        <a class="layui-btn layui-btn-xs set-credit" data-id="{{d.id}}">设置评分</a>
        <a class="layui-btn layui-btn-xs" href="{:U('partnerInfo')}?user_id={{d.user_id}}">查看信息</a>
        {{#  if(d. company_meal== 3){ }}
        {{#  if(d.is_recommend == 1){ }}
        <a class="layui-btn layui-btn-xs layui-btn-danger set-recommend"
           data-url="{:U('setPartnerRecommend')}?id={{d.id}}&is_recommend=0">取消推荐</a>
        {{#  } else { }}
        <a class="layui-btn layui-btn-xs set-recommend"
           data-url="{:U('setPartnerRecommend')}?id={{d.id}}&is_recommend=1">商铺推荐</a>
        {{#  } }}
        {{#  } }}
        {{#  if(d.status == 0){ }}
        <a class="layui-btn layui-btn-xs layui-btn-danger del"
           data-url="{:U('setPartnerStatus')}?id={{d.id}}&status=1">禁用</a>
        {{#  } else { }}
        <a class="layui-btn layui-btn-xs layui-btn-warm del"
           data-url="{:U('setPartnerStatus')}?id={{d.id}}&status=0">启用</a>
        {{#  } }}
        <!-- <a class="layui-btn layui-btn-xs layui-btn-danger del-company" data-url="{:U('delCompany')}?id={{d.id}}">删除</a>-->


    </script>
    <script>
        $(function () {
            var index;
            var url = "{:U('index')}";
            var tableObj;
            form.render();
            //日期选择器
            laydate.render({
                elem: '#expire-time'
            });
            refresh();
            $('form.search').on('click', 'button.search', function () {
                refresh();
            });

            function refresh() {
                var param = $('form.search').serialize();
                var get_url = url + '?' + param;
                getData(get_url);
            }

            $('body').on('click', '.del', function () {
                var del_url = $(this).data('url');
                var text = $(this).text();
                layer.confirm('你确定要' + text + '此商铺吗？', function () {
                    $.get(del_url, {}, function (res) {
                        if (res.status == 1) {
                            layer.msg(res.info, {icon: 1}, function () {
                                tableObj.reload();
                            })
                        } else {
                            layer.msg(res.info, {icon: 2});
                        }
                    })
                })
            })

            $('body').on('click', '.set-recommend', function () {
                var del_url = $(this).data('url');
                var text = $(this).text();
                layer.confirm('你确定要将此' + text + '吗？', function () {
                    $.get(del_url, {}, function (res) {
                        if (res.status == 1) {
                            layer.msg(res.info, {icon: 1}, function () {
                                    tableObj.reload();
                                }
                            )
                        } else {
                            layer.msg(res.info, {icon: 1});
                        }
                    })
                })
            })


            //添加管理员账号
            $('body').on('click', '.set-meal', function () {
                $('#meal input[name=id]').val($(this).data('id'));
                form.render();
                index = layer.open({
                    title: "设置企业套餐",
                    type: 1,
                    area: ['800px', '200px'],
                    content: $('#meal'),
                })
            })


            //添加管理员账号
            $('body').on('click', '.set-credit', function () {
                $('#credit input[name=id]').val($(this).data('id'));
                form.render();
                index = layer.open({
                    title: "设置企业评分",
                    type: 1,
                    area: ['800px', '200px'],
                    content: $('#credit'),
                })
            })


            $('body').on('click', '.del-company', function () {
                var del_url = $(this).data('url');
                layer.confirm('你确定要删除该企业信息吗？', function () {
                    $.get(del_url, {}, function (res) {
                        if (res.status == 1) {
                            layer.msg(res.info, {icon: 1}, function () {
                                tableObj.reload();
                            })
                        } else {
                            layer.msg(res.info, {icon: 2});
                        }
                    })
                })
            })


            form.on("submit(save-meal)", function (data) {
                var _btn = data.elem;
                _btn.disabled = true;
                var post_url = "{:U('setPartnerMeal')}";
                var wait_index = layer.msg('请求中，请稍候', {icon: 16, time: false, shade: 0.8});
                $.post(post_url, data.field, function (res) {
                    _btn.disabled = false;
                    if (res.status == 1) {
                        layer.msg(res.info, {icon: 1}, function () {
                            layer.closeAll();
                            tableObj.reload();
                        })
                    } else {
                        layer.msg(res.info, {icon: 2});
                        layer.close(wait_index);
                    }
                });
                return false;
            });
            form.on("submit(save-credit)", function (data) {
                var _btn = data.elem;
                _btn.disabled = true;
                var url = "{:U('setPartnerCredit')}";
                var wait_index = layer.msg('请求中，请稍候', {icon: 16, time: false, shade: 0.8});
                $.post(url, data.field, function (res) {
                    _btn.disabled = false;
                    if (res.status == 1) {
                        layer.msg(res.info, {icon: 1}, function () {
                            layer.closeAll();
                            tableObj.reload();
                        })
                    } else {
                        layer.msg(res.info, {icon: 2});
                        layer.close(wait_index);
                    }
                });
                return false;
            });


            /**
             * 获取数据
             * @param url
             */
            function getData(url) {
                tableObj = table.render({
                    elem: '#table'
                    , url: url
                    , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                        , groups: 5 //只显示 1 个连续页码
                    }
                    , cellMinWidth: 100
                    , cols: [[
                        {field: 'user_id', title: '用户ID', sort: true}
                        , {field: 'company_name', width: 200, title: '公司名称'}
                        , {field: 'mobile', title: '手机号码'}
                        , {field: 'email', title: '邮箱'}
                        , {field: 'status', title: '企业状态', templet: '#company-status'}
                        , {field: 'company_address', title: '公司地址'}
                        , {field: 'company_meal', title: '会员级别', templet: '#company-meal'}
                        , {field: 'admin_name', title: '审核人', width: 100}
                        , {fixed: 'right', title: '操作', toolbar: '#table-edit', width: '35%'}
                    ]],
                });
            }
        })
    </script>
</block>

