<!DOCTYPE html>
<html lang="zh-cn">
<include file="Common:head" />
<link rel="stylesheet" href="__CSS_PATH__/company.css">
<body>
<include file="Common:header" />
<div class=" mb-50"></div>
<main class="container">
    <div class="row com_head">
        <include file="Shop:top-box" />
        <div class=" mb-50"></div>
        <div class="row">
            <div class="col-md-9">
                <include file="Shop:tab" />
                <table class="table table-striped lb-table">
                    <tr>
                        <th>用户</th>
                        <th>手机号</th>
                        <th>注册时间</th>
                    </tr>
                    <foreach name="items" item="vo" key="k" >
                        <tr>
                            <td>{$vo.real_name}</td>
                            <td>{$vo.mobile|substr=0,3}××××{$vo.mobile|substr=7,11}</td>
                            <td>{$vo.create_time|date='Y-m-d',###}</td>
                        </tr>

                    </foreach>

                </table>
                <div>{$page}</div>
            </div>

            <div class="col-md-3 ">
                <include file="Shop:right" />
            </div>
        </div>

</main>
<include file="Common:footer" />